nav{
    display: flex;
    margin-left: 55%;
    gap: 3%;
}

li{
    width: 30%;
    list-style: none;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}

body{
background-image: url(image\ 1.png);
background-size: 1550px;
font-family: Arial, Helvetica, sans-serif;
}

footer{
    height: 100px;
    padding-left: 80%;
    padding-top: 3%;
    color: white;
    margin-top: 5%;
}


textarea{
    width: 100px;
    height: 150px;
    
}

#bt{
margin:2%;
background-image: url(image\ 1.png);
}

main{
    margin-left:14%;
    margin-top: 5%;
}

.card{
    background-color: #0dcaf0;
}
