nav{
    display: flex;
    margin-left: 55%;
    gap: 3%;
}

li{
    width: 30%;
    list-style: none;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}

body{
background-image: url(image\ 1.png);
background-size: 1550px;
font-family: Arial, Helvetica, sans-serif;
}

footer{
    height: 100px;
    padding-left: 80%;
    padding-top: 3%;
    color: white;
    margin-top: 5%;
}

main{
    margin: 2%;
    margin-top: 7%;
    
}

