nav{
    display: flex;
    margin-left: 55%;
    gap: 3%;
}

li{
    width: 30%;
    list-style: none;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}

body{
background-image: url(image\ 1.png);
background-size: 1550px;
font-family: Arial, Helvetica, sans-serif;
}
